# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# main env file
.env

# local env files
.env*.*

# Depoloyment env files (if not covered by more general rules)
deploy/**/.env*.*


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# VSCode extension Front Matter
/.frontmatter
/frontmatter.json

# SQLite database file
prisma/dev.db

# React Email
.react-email/

